server:
  port: 8080

spring:
  application:
    name: demo-server-starter
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    default-property-inclusion: non_null

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    # log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 分页插件配置
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql



liteflow:
  print-banner: false
  rule-source-ext-data-map:
    applicationName: demo
    sqlLogEnabled: false
    pollingEnabled: true
    pollingIntervalSeconds: 59
    pollingStartSeconds: 59
    chainTableName: liteflow_chain
    chainNameField: chain_name
    elDataField: el_data
    routeField: route
    namespaceField: namespace
    chainCustomSql: SELECT chain_name,chain_desc,el_data,route,namespace FROM liteflow_chain WHERE deleted = 0 AND enable = 1
    scriptTableName: liteflow_script
    scriptIdField: script_id
    scriptNameField: script_name
    scriptDataField: script_data
    scriptTypeField: script_type
    scriptLanguageField: script_language
    scriptCustomSql: SELECT script_id,script_name,script_data,script_type,script_language FROM liteflow_script WHERE deleted = 0 AND enable = 1

#### 系统建康状态 #####
management:
  endpoints:
    web:
      exposure:
        include: "*"
  server:
    # 启用独立端口
    port: 50000
    base-path: /
    ssl:
      enabled: false
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      showDetails: always
      probes:
        enabled: true
    shutdown:
      enabled: true
    restart:
      enabled: true
